DATABASE_URL=postgresql_connection_string
CHUNK_SIZE=512
CHUNK_OVERLAP=64
GROQ_API_KEY=Groq_Api_Key
GROQ_MODEL=modelOfYourChoise
AZURE_STORAGE_CONNECTION_STRING=ConnectionString
AZURE_CONTAINER_NAME=Container_Name
